*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;

}

body{
	min-width:100%;
	min-height:100%;
}
#Background{
    position:absolute;
    background: url('../Imgs/Background_index2.png') no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: 100%;
    filter: blur(13px);
    transition: filter 2s;
	
}
#blink{
	height:90%;
	position: absolute;
	left:444px;
	top: 88px;
	opacity: 0;
}
#jump{
	opacity: 0;

}
#note1{
    height: 95px;
	width:95px;
	margin-bottom: 15px;
  	border: 1px solid black;
	background-color: red;
	position: absolute;
	left: 400px;
	top: 75%;





}

#note2{
    /*make very faded*/
	height: 95px;
	width:95px;
	margin-bottom: 15px;
  	border: 1px solid black;
	background-color: red;
	position: absolute;
	left: 1200px;
	top: 15%;
	opacity: 1;
	transition:opacity 2s;

	
	




}
#note3{
    /*under the pillow*/
	height: 95px;
	width:95px;
	margin-bottom: 15px;
  	border: 1px solid black;
	background-color: red;
	position: absolute;
	left: 357px;
	top: 580px;

	
	




}
