*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
}

html{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;

}

body{
	min-width:100%;
	min-height:100%;
	
}
#Background{
    position:absolute;
    background: url(../Imgs/1index.png) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: 100%;
    filter: blur(13px);
    transition: filter 2s;
}
#Door{
    height:160px;
    position: relative;
    top:350px;
    left: -43px;
    width:65px;
    z-index: -1;
    opacity: 0;
}
